body{
    background: #2c2c7a;
    font-family: 15px Arial
}
header{
    color: white;
    text-align: center;
    margin: auto;
}


section{
    background: white;
    color: black ;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    width: 500px;
    padding: 20px;
    
}
footer{
    color: white;
    text-align: center;
    margin: auto;
    padding: 10px;
}